<footer role="contentinfo">
    <div class="container">
        <p>&copy; 2025 CSE340 Motors. All rights reserved.</p>
        <p>Address: 123 Car Street, Provo, UT 84606 | Phone: (801) 555-0123</p>
        <p>
            <a href="https://jigsaw.w3.org/css-validator/check/referer">
            <img style="border:0;width:88px;height:31px"
            src="https://jigsaw.w3.org/css-validator/images/vcss"
            alt="CSS válido!" />
            </a>
        </p>
        <p>
            <a href="https://jigsaw.w3.org/css-validator/check/referer">
            <img style="border:0;width:88px;height:31px"
            src="https://jigsaw.w3.org/css-validator/images/vcss-blue"
            alt="CSS válido!" />
            </a>
        </p>
    </div>
</footer>